@model PS3G_Login_POC.Models.User
@{
    ViewBag.Title = "Login";
}
@using (Html.BeginForm("Login","User"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Login</h4>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
    @if (TempData["error"] != null)
    {
        @Html.Raw("<script>alert(" + "'" + @TempData["error"] + "'" + ")</script>")

    }

    @if (TempData["message"] != null)
    {
        @Html.Raw("<script>alert(" + "'" + @TempData["message"] + "'" + ")</script>")

    }

    @Html.ActionLink("Register", "Register")
</div>
}
